# sbt
project/project/
project/target/
target/
out/

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea
.bsp/

### Scala ###
*.class
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

###MAC
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jar

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/